<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>

</head>
<body>
<section layout:fragment="content">
    <p>My page</p>
    <p>name: <span th:text="${user.name}"></span></p>
    <p>email: <span th:text="${user.email}"></span></p>
    <p>팔로워: <a th:href="@{'/users/profile/' + ${user.id} + '/followers'}" th:text="${user.followers}"></a></p>
    <p>팔로잉: <a th:href="@{'/users/profile/' + ${user.id} + '/followings'}" th:text="${user.followings}"></a></p>
    <p>평가 수: <a th:href="@{'/users/profile/' + ${user.id} + '/ratings'}" th:text="${user.ratingsCount}"></a></p>
    <p>코멘트 수: <span th:text="${user.commentsCount}"></span></p>
    <p>보고싶어요 수: <span th:text="${user.wishCount}"></span></p>
    <p>보고있어요 수: <span th:text="${user.watchingCount}"></span></p>
</section>
</body>
</html>