<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <p>Header</p>
    <div th:if="${session.user != null}">
        <a th:href="@{/users/logout}">Logout</a>
        <a th:href="@{/users/myPage}">My Page</a>
    </div>
    <div th:if="${session.user == null}">
        <a th:href="@{/users/register}">Register</a>
        <a th:href="@{/users/login}">Login</a>
    </div>
    <form action="/films/search" method="get" class="form-inline mb-4">
        <input type="text" name="title" class="form-control mr-2" placeholder="영화 제목 입력" required>
        <button type="submit" class="btn btn-primary">검색</button>
    </form>
</header>
</html>