<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Layout page</title>
    <style>
        #toastMessage {
            position: fixed;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            z-index: 1000;
            display: none;
        }

        .success {
            background-color: #4CAF50;
        }

        .fail {
            background-color: #f44336;
        }
    </style>
    <!-- header-css -->

    <!-- footer-css -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>

<div id="toastMessage" th:if="${message}" th:text="${message}" th:class="${resultType}"></div>

<section layout:fragment="content">
    <!--  <p>Page content goes here</p>-->
</section>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    const message = /*[[${message}]]*/ null;
    const resultType = /*[[${resultType}]]*/ null;
    if (message) {
        const toastElement = document.getElementById('toastMessage');
        toastElement.textContent = message;
        toastElement.className = resultType;
        toastElement.style.display = 'block';
        setTimeout(function () {
            toastElement.style.display = 'none';
        }, 1000);
    }
    /*]]>*/
</script>
</body>
</html>