@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,400;1,800&family=Varela+Round&display=swap');

/* 초기화 */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

li {list-style: none;}

img {border: 0;}

body {
    height: 100vh;
    width: 100%;

    font-family: 'Poppins', sans-serif;
}




}

#toastMessage {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    z-index: 1000;
    display: none;
}

.success {
    background-color: #4CAF50;
}

.fail {
    background-color: #f44336;
}